.hello {
  font-size: 4.8rem;
  user-select: none;

  @media (max-width: 450px) {
    font-size: 2.5rem !important;
  }

  @media (max-width: 850px) {
    font-size: 3.5rem;
  }
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
