@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dbe6e6;
  overflow: hidden;
}

#distance {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0);
  user-select: none;
}

#gameOver {
  position: absolute;
  font-family: 'Voltaire';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 120px;
  text-align: center;
  color: #ffc5a2;
  opacity: 0;
}

.label {
  position: relative;
  font-family: 'Voltaire';
  text-transform: uppercase;
  font-size: 12px;
}

#distValue {
  position: relative;
  text-transform: uppercase;
  color: red;
}

body > canvas {
  z-index: 1;
}
