.form {
  background-color: rgba($backgroundColor, 0.8);
  padding: 1rem;
  border-radius: 1rem;
  flex-wrap: wrap;

  label.input {
    position: relative;
    display: inline-block;
    width: 100%;

    textarea {
      display: block;
      padding: 20px !important;
      height: auto !important;
      width: 100% !important;
    }

    input,
    textarea {
      width: 100%;
      border: 0;
      background: darken($primaryColor, 15%);
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      outline: none;
      border-radius: 5px;
      font-family: 'Open Sans', sans-serif;
    }
    &::after {
      display: block;
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 3px;
      height: 2px;
      width: calc(100% - 6px);
      background-color: $accentColor;
      max-width: 0;
      transition: max-width 200ms;
    }

    &:focus-within {
      &::after {
        max-width: 100%;
      }
    }
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b4b4b4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b4b4b4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b4b4b4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid transparent;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
