$spacer: 1rem;

$spacer_map: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);

@for $i from 0 to 6 {
  .m-#{$i},
  .my-#{$i},
  .mt-#{$i} {
    margin-top: $spacer * map-get($spacer_map, $i);
  }

  .m-#{$i},
  .my-#{$i},
  .mb-#{$i} {
    margin-bottom: $spacer * map-get($spacer_map, $i);
  }

  .m-#{$i},
  .mx-#{$i},
  .ml-#{$i} {
    margin-left: $spacer * map-get($spacer_map, $i);
  }

  .m-#{$i},
  .mx-#{$i},
  .mr-#{$i} {
    margin-right: $spacer * map-get($spacer_map, $i);
  }
}
