@import './colors';
@import './dispositions';
@import './typography';
@import './buttons';
@import './spacing';
@import './sizing';
@import './forms';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > canvas {
  z-index: -1;
}

:root {
  background: radial-gradient($backgroundColor, #07060b);
}

:root,
html,
body {
  height: 100%;
}

.letter {
  color: #fff;
  display: inline-block;
  transition: color 300ms;

  &:empty {
    width: 10px;
  }

  &:hover {
    color: $primaryColor;
  }
}

.brand {
  color: $primaryColor !important;
  font-weight: bold;
  text-shadow: -1px 1px 0 $accentColor, -2px 2px 0 $accentColor,
    -3px 3px 0 $accentColor, -4px 4px 0 $accentColor, -5px 5px 0 $accentColor,
    -6px 6px 1px rgba(0, 0, 0, 0.1), -4px 0 5px rgba(0, 0, 0, 0.1),
    -4px 1px 3px rgba(0, 0, 0, 0.3), -4px 3px 5px rgba(0, 0, 0, 0.2),
    -4px 5px 10px rgba(0, 0, 0, 0.25), -4px 10px 10px rgba(0, 0, 0, 0.2),
    -4px 20px 20px rgba(0, 0, 0, 0.15);

  .letter {
    color: inherit;
  }
}
